<div class="container align-items-end">
    <form class="">
        <button class="bg-info text-capitalize border-dark rounded font-weight-bold" asp-controller="Admin" asp-action="KullaniciSil">KULLANICI SİL</button>
        <button class="bg-info text-capitalize border-dark rounded font-weight-bold" asp-controller="Admin" asp-action="UrunEkle">ÜRÜN İŞLEMLERİ</button>
    </form>
</div>